@model UserListViewModel

@{
    ViewData["Title"] = "Listado de usuarios";
    Layout = "../shared/_layout";
}

<h1>Listado de usuarios</h1>

@if (Model.MessageConfirmed is not null || Model.MessageConfirmed == "")
{
    <div class="alert alert-success" role="alert">
        @Model.MessageConfirmed
    </div>
}

@if (Model.MessageRemoved is not null || Model.MessageRemoved == "")
{
    <div class="alert alert-danger" role="alert">
        @Model.MessageRemoved
    </div>  
}

@if (Model.UserList is not null)
{

    <form method="post">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Acción</td>
                    <td>User</td>
                    <td>Email</td>
                    <td>Confirmed</td>
                    <td>Administrator</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model.UserList)
                {
                    <tr>
                        <td>
                            <button class="btn btn-primary me-2"
                            asp-controller="User"
                            asp-action="HacerAdmin"
                            asp-route-email="@usuario.Email">
                                Hacer Admin
                            </button>
                            <button class="btn btn-secondary me-2"
                            asp-controller="User"
                            asp-action="RemoverAdmin"
                            asp-route-email="@usuario.Email">
                                Remover Admin
                            </button>
                        </td>
                        <td>@usuario.User</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.Confirmed</td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" asp-for="@usuario.IsAdmin"  disabled>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>

}
else
{
    <p>No hay usuarios para mostrar</p>
}